* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #141e30, #243b55);
}

.calculator {
  background: #ec8f8f;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(114, 110, 110, 0.4);
  width: 320px;
}
#display {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  text-align: right;
  padding: 10px;
  font-size: 28px;
  border: none;
  border-radius: 10px;
  background: #f3f4f6;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 18px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  background: #0062ff;
  color: white;
}

button:hover {
  background: #006aff;
  transform: scale(1.05);
}

.equal {
  background: #10b981;
  grid-row: span 2;
}

.equal:hover {
  background: #059669;
}

.clear {
  background: #ef4444;
}

.clear:hover {
  background: #dc2626;
}

.zero {
  grid-column: span 2;
}